.about {
  @include section-padding;
  background-image: linear-gradient(
    to bottom,
    rgba(210, 74, 68, 0.6),
    rgba(239, 148, 143, 0.6)
  ), url("../../img/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

// .about__items
.about__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  @media (max-width: $mobile) {
    flex-direction: column;
    gap: 25px;
  }
}
.about-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 15px;

  // .about-item__title
  &__title {
    font-size: clamp(1.125rem, 0.966rem + 0.8vw, 1.563rem);
  }

  // .about-item__text

  &__text {
    font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  }
}
.bi {
}
.bi-person-circle {
}
.bi-people {
}
.bi-people-fill {
}
